[user]
  name = Eugene Oliveros
  email = eevoliveros@gmail.com
  signingkey = A05BDF3FF69CA6A8
[core]
  pager = diff-so-fancy | less --tabs=4
  excludesfile = ~/.gitignoreglobal
[commit]
  template = ~/.gitmessage
  verbose = true
[alias]
  st = status
  co = checkout
  br = branch
  c = commit
  cm = commit -m
  d = difftool
  branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
  ci = commit -v
  aa = add --all
  ap = add --patch
  ; Works like --force but warns you when your local is not up to date
  pf = push --force-with-lease
  staged = diff --cached
  wc = whatchanged
  lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
  ll = log --pretty=format:\"%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]\" --decorate --numstat
  lnc = log --pretty=format:\"%h %s [%cn]\"
  lds = log --pretty=format:\"%C(yellow)%h %ad%Cred%d %Creset%s%Cblue [%cn]\" --decorate --date=short
  ld = log --pretty=format:\"%C(yellow)%h %ad%Cred%d %Creset%s%Cblue [%cn]\" --decorate --date=relative
  le = log --oneline --decorate
  filelog = log -u
  fl = log -u
  dl = !git ll -1
  ctags = !.git/hooks/ctags
  contributors = shortlog --summary --numbered
  p = push
  pup = "!git push -u origin $(git rev-parse --abbrev-ref HEAD)"
  unstage = "restore --staged ."
  unpushed = "cherry -v"
  cleanstate = "!git clean -f && git restore ."
  renamebranch = branch -m
  cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[color]
  ui = auto
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 11
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[difftool "vimdiff"]
  cmd = vimdiff \"$LOCAL\" \"$REMOTE\"
[merge]
  conflictStyle = merge
  ff = no
  commit = no
  summary = true
[fetch]
  prune = true
[include]
  path = ~/.gitconfig.local
[init]
  ; templatedir = ~/.git_template
[pull]
  rebase = true
[push]
  ; https://stackoverflow.com/a/26438076/3788603
  followTags = true
